@import '../base/variables.scss';

.paginationStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.arrowIconStyle {
  width: 33px;
  padding: 7px 0;
  color: $gray2;
  transform: scale(0.8);
}

.pageNumberStyle {
  border: 1px solid #dee2e6;
  margin-right: -1px;
}

.buttonStyle {
  min-width: 33px;
  padding: 8px 14px;

  &:hover {
    background: $gray0;
  }
}

.active {
  background: $main0;
  color: $light0;
}
