@import '../base/variables.scss';

.contentTable {
  width: 1200px;
  background: $light0;
  border-collapse: collapse;
  margin-top: 1rem;
  background: $contentbg;
  box-shadow: 0 2px 4px 0 $shadow;
}

.titleTh {
  line-height: 45px;
  border-bottom: 1px solid $gray0;
  color: $light0;
  padding: 0.5rem 1rem;
  background: $main0;
  font-size: 1.2rem;

  > button {
    margin-left: 0.3rem;
    display: inline-block;
    vertical-align: middle;
    color: $light0;
    font-size: 1.2rem;
    font-weight: bold;
    > svg {
      transform: scale(0.6);
      vertical-align: middle;
    }
  }
}

.listTr {
  height: 50px;
  text-align: center;
  &:hover {
    background: white;
    cursor: pointer;
  }

  > td {
    text-align: center;
    color: $dark1;
  }
}

.listDetail {
  padding: 2rem 2.5rem;
  background: $gray0;
  &__box {
    display: flex;
    line-height: 22px;
    &:nth-of-type(1) {
      margin-bottom: 1rem;
    }
    p:nth-of-type(1) {
      flex-shrink: 0;
      width: 10%;
      font-weight: bold;
    }
  }
}
