@import './base/variables.scss';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bread {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.breadInput {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  color: $gray2;

  > input {
    border: 1px solid $gray1;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }
}
