$main0: #39afd1;
$main1: #40a7c4;
$dark0: #1c1c28;
$dark1: #28293d;
$dark2: #555770;
$dark3: #8f90a6;
$dark4: #c7c9d9;
$light0: #ffffff;
$light1: #fafafc;
$light2: #f2f2f5;
$light3: #ebebf0;
$light4: #e4e4eb;
$gray0: #d6dae1;
$gray1: #c2c6ce;
$gray2: #667084;
$shadow: #cfcfcf;
$contentbg: #eef2f7;
